<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Item series:</strong>
  <%= @item.item_series %>
</p>

<p>
  <strong>Item character:</strong>
  <%= @item.item_character %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @item.item_price %>
</p>

<p>
  <strong>Item list price:</strong>
  <%= @item.item_list_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
